
//font-family: "Roboto Condensed", sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Condensed:ital,wght@0,700;1,700&display=swap');
//   font-family: "Raleway", sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital@0;1&family=Roboto+Condensed:ital,wght@0,700;1,700&display=swap');



html, body{
    background-color: #DCDCDC;
    font-family: "Roboto Condensed", sans-serif;
}
// класс используемый для взятия в контейнер
._container{
    width: 1250px;
    margin: 0 auto;
    padding: 0 5px;
    @media (max-width: 1250px) {
        width: 100%;
    }
}
// класс для названия и маленького текста
._title__body{
    padding: 50px 10px;
    color: #000;
    h4{
        font-size: 80px;
        font-weight: 700;
        text-transform: uppercase;
        @media (max-width: 920px) {
            font-size: 50px;
        }
        @media (max-width: 500px) {
            font-size: 30px;
        }
    }
    p{
        font-size: 30px;
        width: 510px;
        margin: 0 0 0 auto;
        font-weight: 400;
        text-align: right;
        @media (max-width: 920px) {
            font-size: 25px;
        }
        @media (max-width: 500px) {
            font-size: 20px;
            width: 98%;
            text-align: right;
            span{
                display: none;
            }
        }
    }
}
// Класс кнопки
.button__body{
    border: 1px solid #fff;
    background-color: #3C6C7F;
    padding: 15px 20px;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    overflow: hidden;
    transition: .3s ease-in-out;
    pointer-events: all;
    cursor: pointer;
    &:hover{
        box-shadow: 5px 5px #6f6d6d;
        border: 1px solid #28221f00;

    }
    @media (max-width: 585px) {
        width: 90%;
        text-align: center;
    }
    @media (max-width: 420px) {
        width: 100%;
        display: inline-block;
    }
}
.button__pozvoni{
    border: 1px solid #28221F;
    padding: 15px 20px;
    font-size: 20px;
    color: #28221F;
    border-radius: 30px;
    margin-left: 40px;
    transition: .3s ease-in-out;
    &:hover{
        box-shadow: 5px 5px #6f6d6d;
        border: 1px solid #28221f00;
    }
    @media (max-width: 585px) {
        display: block;
        margin: 20px 0 0 0;
        background-color: rgba($color: #28221F, $alpha: .5);
        color: #D3E2EF;
        text-align: center;
    }
}
// Pop-Up
.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    // background-color: rgba($color: #fff, $alpha: .7);
    z-index: 9999;
    backdrop-filter: blur(2px);

    .popup__container{
        width: 500px;
        // height: 500px;
        border-radius: 30px;
        font-weight: normal;
        background-color: #fff;
        padding: 50px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        // box-shadow: 0px 5px 5px #6f6d6d;
        // border: 1px solid #28221F;
        @media (max-width: 510px) {
            width: 100%;
            padding: 30px;
        }
        h2{
            font-size: 50px;
            color: #3C6C7F;
        }
        form{
            margin-top: 30px;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            :not(:last-child){
                margin-bottom: 10px;
            }
            h5{
                font-size: 18px;
                text-transform: uppercase;
                font-weight: 600;
                color: #3C6C7F;
            }
            input{
                border: 1px solid #3C6C7F;
                height: 50px;
                font-size: 18px;
                width: 100%;
                border-radius: 15px;
                padding: 5px 20px;
            }
            textarea{
                border: 1px solid #3C6C7F;
                outline: none;
                padding: 15px;
                border-radius: 15px;
                width: 100%;
                resize: none;
            }
            .form__button{
                background-color: #3C6C7F;
                color: #fff;
                font-size: 20px;
                transition: .2s;
                &:hover{
                    background-color: #315868;
                }
            }
        }
        .closePopup{
            position: absolute;
            right: 15px;
            top: 15px;
            img{
                width: 35px;
                height: 35px;
            }
        }
    }
  }
//pop-up sale
.popup__sale {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #fff, $alpha: .7);
    z-index: 9999;
    .popup__sale__container{
        width: 700px;
        height: 500px;
        border-radius: 30px;
        font-weight: normal;
        background-color: #fff;
        padding: 50px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0px 5px 5px #6f6d6d;
        @media (max-width: 710px) {
            width: 95%;
            padding: 30px;
        }
        @media (max-width: 550px) {
            height: 100%;
        }
        .popup__sale__img{
            width: 70%;
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: -1;
            @media (max-width: 550px) {
                width: 90%;
            }
        }
        h2{
            font-size: 50px;
            text-transform: uppercase;
            color: #3C6C7F;
            @media (max-width: 550px) {
                font-size: 40px;
            }
        }
        p{
            margin: 20px 0;
            font-size: 18px;
        }
        form{
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            :not(:last-child){
                margin-bottom: 10px;
            }
            h5{
                font-size: 18px;
                font-weight: 600;
                text-transform: uppercase;
                color: #3C6C7F;
            }
            input{
                height: 50px;
                font-size: 18px;
                width: 80%;
                border-radius: 15px;
                padding: 5px 20px;
                background-color: rgba($color: #D9D9D9, $alpha: .4);
                border: 1px solid #3C6C7F;
            }
            .form__button{
                background-color: #3C6C7F;
                color: #fff;
                font-size: 20px;
                transition: .2s;
                &:hover{
                    background-color: #315868;
                }
            }
        }
        .closePopup{
            position: absolute;
            right: 15px;
            top: 15px;
            img{
                width: 35px;
                height: 35px;
            }
        }
    }
  }
// открытие бургера
.menu {
    display: none;
  }
.menu.open {
    display: block;
}



.header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    z-index: 100;
    padding: 20px 40px;
    .header__logo{
        width: 100px;
        height: 100px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .burger-btn {
        background: none;
        border: none;
        cursor: pointer;
        padding: 10px;
        transition: .3s ease-in-out;
        &:hover{
            scale: 1.1;
        }
      }
      .burger-line {
        display: block;
        width: 50px;
        height: 3px;
        background-color: #fff;
        margin: 5px 0;
        transition: transform 0.3s ease;
      }
    .menu{
        position: absolute;
        right: 0;
        top: 0;
        width: 200px;
        height: 100vh;
        background-color: #002A32;
        .menu-logo{
            text-transform: uppercase;
            margin-top: 20px;
            text-align: center;
            font-size: 22px;
            color: #fff;
            display: block;
            span{
                display: block;
                font-size: 16px;
            }
        }
        nav ul{
            width: 60px;
            height: 80vh;
            display: flex;
            gap: 40px;
            flex-direction: column;
            justify-content: center;
            margin:  0 auto;
            li a{
                color: #fff;
                font-size: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                img{
                    margin-bottom: 10px;
                }
            }
        }
    }
    .buttonTkani{
        position: absolute;
        right: 0;
        top: 60vh;
        width: 40px;
        height: 250px;
        background-color: #fff;
        writing-mode: vertical-rl;
        color: #3C6C7F;
        border: 1px solid #000;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        rotate: 180deg;
        padding: 15px;
        border-radius: 10px;
        animation: buttonTkani 12s 5s infinite alternate;
        cursor: pointer;
        @keyframes buttonTkani {
            0%{}
            30%{background-color: #3C6C7F; color: #fff;}
            40%{background-color: #fff; color: #3C6C7F;}
            100%{}
        }
    }
    .socialIcon{
        position: absolute;
        left: 20px;
        top: 85vh;
        img{
            width: 60px;
            height: 60px;
            cursor: pointer;
            @keyframes headersocialIcon {
                0%{}
                100%{scale: 1.1; rotate: 20deg; transform: translate(-10px, 6px);}
            }
        }
        .socialIcon__item1{
            animation: headersocialIcon 2s infinite alternate;
            margin-right: 20px;
        }
        .socialIcon__item2{
            animation: headersocialIcon 3s infinite alternate;

        }
    }
}
.pictures{
    z-index: 1;
    .pictures__slide{
        .pictures__slide__item{
            position: relative;
            width: 100%;
            height: 100vh;            
            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
                filter: brightness(60%);
            }
            .pictures__slide__item__title{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                color: #fff;
                text-align: center;
                width: 680px;
                @media (max-width: 495px) {
                    width: 98%;
                }
                h3{
                    font-size: 60px;
                    font-weight: 700;
                    line-height: 100%;
                    @media (max-width: 920px) {
                        font-size: 50px;
                    }
                    @media (max-width: 520px) {
                        font-size: 30px;
                    }
                }
                p{
                    line-height: 140%;
                    font-family: Arial, Helvetica, sans-serif;
                    margin: 10px 0 5px;
                    font-size: 30px;
                    @media (max-width: 920px) {
                        font-size: 25px;
                    }
                    @media (max-width: 520px) {
                        font-size: 20px;
                    }
                }
                .pictures__slide__item__title__kontact{
                    margin-top: 40px;
                    .pictures__slide__item__title__kontact__button{
                        color: #fff;
                        border: 1px solid #dfdddd;
                        &:hover{
                            box-shadow: 5px 5px #6f6d6d;
                            border: 1px solid #28221f00;
                            background-color: #D9D9D9;
                            color: #28221F;
                        }
                    }
                }                
            }
            
        }
    }
}
.quality{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    @media (max-width: 768px) {
        flex-wrap: wrap;
        justify-content: center;
    }
    .quality__item{
        width: 250px;
        height: 220px;
        border: 1px solid #131212;
        border-radius: 10px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        transition: .2s ease-in-out;
        &:hover{
            box-shadow: 0px 5px 10px #8b8888;
            scale: 1.02;
        }
        @media (max-width: 1050px) {
            width: 100%;
        }
        @media (max-width: 768px) {
            width: 250px;
        }
        .quality__item__img{
            margin-bottom: 40px;
            img{
                width: 70px;
                height: 70px;
            }
        }
        h3{
            font-size: 30px;
            @media (max-width: 1050px) {
                font-size: 23px;
            }
        }
    }
}
.skills{
    margin-top: 100px;
    .skills__gallery{
        position: relative;
        width: 100%;
        height: 860px;  
        @media (max-width: 900px) {
            height: 500px;
        }   
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
            filter: brightness(50%);
        }
        .skills__gallery__container{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            display: grid; 
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 20px;
            height: 90%;
            @media (max-width: 900px) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 20px;
                height: 100%;
            }  
            :hover{
                scale: 0.9;
            }
            #item-0 {
                font-size: 60px;
                font-weight: 700;
                text-transform: uppercase;
                background-color: rgba($color: #DCDCDC, $alpha: .7);
                display: flex;
                align-items: center;
                justify-content: center;
                transition: .3s ease-in-out;
                grid-row-start: 1;
                grid-column-start: 1;
                grid-row-end: 2;
                grid-column-end: 3; 
                @media (max-width: 1250px) {
                    font-size: 40px;
                }
                @media (max-width: 666px) {
                    font-size: 30px;
                }
                @media (max-width: 460px) {
                    font-size: 25px;
                }              
             }
             #item-1 {
                font-size: 60px;
                font-weight: 700;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #DCDCDC;
                color: #DCDCDC;
                transition: .3s ease-in-out;
    
                grid-row-start: 1;
                grid-column-start: 4;
                grid-row-end: 2;
                grid-column-end: 5;
                @media (max-width: 1250px) {
                    font-size: 40px;
                }
                @media (max-width: 666px) {
                    font-size: 30px;
                }
                @media (max-width: 460px) {
                    font-size: 25px;
                }  
             }
             #item-2 {
                grid-row-start: 1;
                grid-column-start: 3;
                grid-row-end: 2;
                grid-column-end: 4;
                @media (max-width: 900px){
                    display: none;
                }
             }
             #item-3 {
                font-size: 60px;
                font-weight: 700;
                text-transform: uppercase;
                background-color: rgba($color: #DCDCDC, $alpha: .7);
                display: flex;
                align-items: center;
                justify-content: center;
                transition: .3s ease-in-out;
    
                grid-row-start: 2;
                grid-column-start: 1;
                grid-row-end: 3;
                grid-column-end: 2;
                @media (max-width: 1250px) {
                    font-size: 40px;
                }
                @media (max-width: 666px) {
                    font-size: 30px;
                } 
                @media (max-width: 460px) {
                    font-size: 25px;
                } 
             }
             #item-4 {
                font-size: 60px;
                font-weight: 700;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #DCDCDC;
                color: #DCDCDC;
                transition: .3s ease-in-out;
    
                grid-row-start: 2;
                grid-column-start: 2;
                grid-row-end: 3;
                grid-column-end: 3;
                @media (max-width: 1250px) {
                    font-size: 40px;
                }
                @media (max-width: 666px) {
                    font-size: 30px;
                } 
                @media (max-width: 460px) {
                    font-size: 25px;
                } 
             }
             #item-5 {
                font-size: 50px;
                font-weight: 700;
                text-transform: uppercase;
                background-color: rgba($color: #DCDCDC, $alpha: .7);
                display: flex;
                align-items: center;
                justify-content: center;
                transition: .3s ease-in-out;
    
                grid-row-start: 2;
                grid-column-start: 3;
                grid-row-end: 3;
                grid-column-end: 5;
                @media (max-width: 1250px) {
                    font-size: 35px;
                }
                @media (max-width: 666px) {
                    font-size: 25px;
                } 
                @media (max-width: 460px) {
                    font-size: 22px;
                } 
             }
             #item-6 {
                font-size: 50px;
                font-weight: 700;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #DCDCDC;
                color: #DCDCDC;            
                transition: .3s ease-in-out;
    
                grid-row-start: 3;
                grid-column-start: 1;
                grid-row-end: 4;
                grid-column-end: 4;
                @media (max-width: 1250px) {
                    font-size: 35px;
                }
                @media (max-width: 666px) {
                    font-size: 25px;
                } 
                @media (max-width: 460px) {
                    font-size: 22px;
                } 
                
             }
             #item-7 {
                font-size: 50px;
                font-weight: 700;
                text-transform: uppercase;
                background-color: rgba($color: #DCDCDC, $alpha: .7);
                display: flex;
                align-items: center;
                justify-content: center;
                transition: .3s ease-in-out;
    
                grid-row-start: 3;
                grid-column-start: 4;
                grid-row-end: 4;
                grid-column-end: 5;
                @media (max-width: 1250px) {
                    font-size: 35px;
                }
                @media (max-width: 460px) {
                    font-size: 25px;
                }
             }
             #item-8 {
                font-size: 50px;
                font-weight: 700;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: .3s ease-in-out;
                border: 1px solid #DCDCDC;
                color: #DCDCDC;
                grid-row-start: 4;
                grid-column-start: 3;
                grid-row-end: 5;
                grid-column-end: 5;
                @media (max-width: 1250px) {
                    font-size: 35px;
                }
                @media (max-width: 460px) {
                    font-size: 25px;
                }
             }
             #item-9 {
                font-size: 50px;
                font-weight: 700;
                text-transform: uppercase;
                background-color: rgba($color: #DCDCDC, $alpha: .7);
                display: flex;
                align-items: center;
                justify-content: center;
                transition: .3s ease-in-out;

                grid-row-start: 4;
                grid-column-start: 1;
                grid-row-end: 5;
                grid-column-end: 2;
                @media (max-width: 1250px) {
                    font-size: 35px;
                }
                @media (max-width: 460px) {
                    font-size: 25px;
                }
             }
        }
    }
}
.portfolio{
    margin-top: 100px;
    padding: 0 5px;
    #revers{
        // Класс для одного из объекта портфолио
        @media (max-width: 1040px) {
            flex-direction: column-reverse;
        }
    }

    .portfolio__container{
        display: flex;
        justify-content: space-between;
        @media (max-width: 1040px) {
            flex-direction: column;
        }
        &:not(:last-child){
            margin-bottom: 50px;
        }
        .portfolio__container__title{
            width: 50%;
            display: flex;
            flex-direction: column;
            margin: 0 0 0 20px;
            @media (max-width: 1040px) {
                width: 100%;
                margin: 0;
            }
            @media (max-width: 510px) {
                width: 100%;
            }
            h3{
                font-size: 80px;
                font-weight: 700;
                width: 100%;
                text-transform: uppercase;
                @media (max-width: 1040px) {
                    text-align: right;
                    font-size: 50px;
                }
                @media (max-width: 500px) {
                    font-size: 30px;
                }
            }
            p{
                flex: 1;
                width: 50%;
                font-size: 25px;
                line-height: 110%;
                border-top: 1px solid #131212;
                padding-top: 20px;
                font-family: Arial, Helvetica, sans-serif;
                @media (max-width: 1120px) {
                    width: 80%;
                }
                @media (max-width: 650px) {
                    margin: auto;
                }
            }
        }
        .portfolio__container__images{
            position: relative;
            display: flex;
            gap: 15px;
            @media (max-width: 1040px) {
                justify-content: center;
            }
            @media (max-width: 730px) {
                gap: 0;
            }
            }
            .portfolio__container__images__left{
                h4{
                    font-size: 30px;
                    text-transform: uppercase;
                    @media (max-width: 1260px) {
                        font-size: 25px;
                    }
                    @media (max-width: 1040px) {
                        font-size: 18px;
                    }
                }
                @media (max-width: 730px) {
                    display: none;
                }
            }
            .portfolio__container__images__visible{
                width: 300px;
                video{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                @media (max-width: 415px) {
                    width: 100%;
                }
            }
            .portfolio__container__images__invisible{
                width: 400px;
                video{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                @media (max-width: 415px) {
                    width: 100%;
                }
            }
        }
    .portfolio__swiper{
        position: relative;
        padding: 50px 0;
        .swiper-button-next::after, .swiper-button-prev::after {
            color: #28221F;
            font-size: 80px;
            padding: 0 50px;
        }
        .swiper-pagination{
            bottom: 0;
        }
        .swiper-pagination-bullet{
            width: 18px;
            height: 18px;
        }
        .swiper-pagination-bullet-active{
            background-color: #fff;
            border: 1px solid #282828;
        }
        .portfolio__slide{
            width: 100%;
            height: 400px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 30px;   
            }
        }
    }
}
.price{
    p{
        margin-top: 30px;
        text-align: center;
    }
    .price__container{
        width: 900px;
        box-shadow: 5px 5px 5px 5px #6f6d6d;
        padding: 35px;
        border-radius: 30px;
        font-size: 22px;
        margin: 0 auto;
        @media (max-width: 910px) {
            width: 100%;
        }
        .price__subtitle{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        h5{
            text-align: center;
            font-size: 30px;
            text-transform: uppercase;
            margin: 20px 0;
        }
        
        .price__content{
            display: grid;
            grid-template-columns: 1fr 1fr;
            font-weight: 400;
            row-gap: 15px;
            h6{
                border-bottom: 1px solid #0000003b; 
            }
            strong{
                text-align: right;
                border-bottom: 1px solid #0000003b; 
            }
        }
    }
    .price__button{
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }
}
.calculation{
    margin-top: 50px;
    .calculation__button{
        margin-top: 40px;
    }
    .calculation__container{
        .calculation__item_2{
            margin: 0 auto;
        }
        .calculation__item_3{
            margin: 0 0 0 auto;
        }
        :not(:last-child){
            margin-bottom: 20px;
        }

      .calculation__item{
        width: 450px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 5px 5px 5px 5px #6f6d6d;

        border-radius: 20px;
        padding: 15px;
        position: relative;
        @media (max-width: 460px){
            width: 100%;
        }
        .calculation__item__title{
            width: 200px;
            .calculation__item__title_number{
                border-radius: 10px;
                padding: 10px;
                font-size: 30px;
                width: 100px;
                margin-bottom: 30px;
                border: 1px solid #131212;
                
            }
            p{
                font-size: 22px;
            }
        }
        .calculation__item__images{
            width: 150px;
            height: 100%;
            img{
                width: 100%;
                height: 100%;
            }
        }
      }  

    }
}
.partners{
    margin-top: 50px;
    .partners__container{
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 400px;
        @media (max-width: 1020px) {
            flex-direction: column;
            height: 100%;
        }
        .partners__text{
            margin-left: 10px;
            width: 400px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @media (max-width: 510px) {
                width: 100%;       
            }
            h6{
                font-size: 40px;
                flex: 1;
                @media (max-width: 710px) {
                    font-size: 25px;
                    margin-bottom: 10px;       
                }
            }
        }
        .partners__images{
            position: relative;
            width: 600px;
            height: 400px;
            margin-right: 10px;
            @media (max-width: 1020px) {
                margin: 20px auto 0;
            }
            @media (max-width: 615px) {
             width: 100%;       
            }
            img{
                display: block;
                width: 300px;
            }
            p{
                display: block;
                width: 100%;
            }
            .partners__images__item_1{
                position: absolute;
                left: 12px;
                top: 0;
                animation: partners__images 5s ease-in-out infinite alternate;
                @keyframes partners__images {
                    0%{}
                    25%{transform: translate(10px, 10px);}
                    50%{transform: translate(-10px, 10px);}
                    75%{transform: translate(-5px, -10px);}
                    100%{transform: translate(0px, 0px);}
                }

            }
            .partners__images__item_2{
                position: absolute;
                right: 0;
                top: 15%;
                animation: partners__images 8s  ease-in-out infinite alternate;
                
            }
            .partners__images__item_3{
                position: absolute;
                left: 0;
                top: 35%;
                animation: partners__images 7s ease-in-out infinite alternate;

            }
            .partners__images__item_4{
                position: absolute;
                width: 200px;
                height: 150px;
                right: 0;
                top: 55%;
                animation: partners__images 6s ease-in-out infinite alternate;
            }
            .partners__images__item_5{
                position: absolute;
                width: 150px;
                height: 80px;
                left: 15%;
                bottom: 10%;
                animation: partners__images 4s ease-in-out infinite alternate;

            }
        }
    }
}
.comments{
    margin-top: 100px;
    height: 100%;
    .comments__container{
        width: 100%;
        height: 100%;
        position: relative;
        padding: 60px 0;
        @media (max-width: 1100px) {
            padding: 20px;
        }
        .comments__container_bg{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(60%);
        }
        .commentsSwiper{
            .commentsSwiper__slide{
                will-change: transform;
                :not(:last-child){
                    margin-bottom: 30px;
                }
                img{
                    width: 60%;
                    @media (max-width: 700px) {
                    width: 70%;
                    }
                    @media (max-width: 580px) {
                        width: 80%;
                    }
                    @media (max-width: 510px) {
                        width: 100%;
                    }
                }
               .commentsSwiper__slide__item_2{
                margin-left: 150px;
                @media (max-width: 700px) {
                    margin-left: 50px;
                }
                @media (max-width: 510px) {
                    margin-left: 0;
                }
               }             
            }
        }
    }
}
.property{
    margin-top: 100px;
    .property__container{
        display: grid; 
        grid-template-rows: 1fr 1fr;
        // grid-template-columns: 390px 390px 390px;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 32px;
        height: 100%;
        width: 100%;
        position: relative;
        justify-content: center;
        @media (max-width: 1115px) {
            gap: 15px;
        }
        @media (max-width: 870px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        :not(:last-child){
            margin-bottom: 10px;
        }
        #item-0 {
            grid-row-start: 1;
            grid-column-start: 1;
            grid-row-end: 2;
            grid-column-end: 2;
            position: absolute;
            bottom: -100px;
            @media (max-width: 870px) {
                position: static;
            }
         }
         #item-1 {
            grid-row-start: 1;
            grid-column-start: 2;
            grid-row-end: 2;
            grid-column-end: 3;
            position: absolute;
            bottom: -50px;
            @media (max-width: 870px) {
                position: static;
            }
         }
         #item-2 {
            grid-row-start: 1;
            grid-column-start: 3;
            grid-row-end: 2;
            grid-column-end: 4;

         }
         #item-3 {
            grid-row-start: 2;
            grid-column-start: 2;
            grid-row-end: 3;
            grid-column-end: 3;
            position: absolute;
            bottom: -50px;
            @media (max-width: 870px) {
                position: static;
            }
         }
         #item-4 {
            grid-row-start: 2;
            grid-column-start: 3;
            grid-row-end: 3;
            grid-column-end: 4;
         }
        .property__container__item{
            width: 100%;
            background-color: #28221F;
            border-radius: 30px;
            color: #F5F5F5;
            padding: 25px;
            box-shadow: 0px 0px 6px #000;
            @media (max-width: 870px) {
                width: 390px;
            }
            @media (max-width: 400px) {
                width: 100%;
            }
            .property__container__item__img{
                position: relative;
                img{
                    width: 60px;
                    height: 60px;
                }
                &::after{
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 25px;
                    height: 25px;
                    background-color: #D9D9D9;
                    border-radius: 50%;
                    box-shadow: 0px 0px 3px #000 inset;
                }
            }
            h3{
                font-size: 30px;
                @media (max-width: 1115px) {
                    font-size: 25px;
                }
            }
            p{
                font-size: 20px;
                @media (max-width: 1115px) {
                    font-size: 18px;
                }
            }
        }
    }
}
.proposal{
    position: relative;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    border: 2px solid #28221F;
    border-radius: 30px;
    padding: 30px 50px;
    width: 98%;
    min-height: 500px;
    @media (max-width: 650px) {
        padding: 20px;
    }
    .proposal__container{
        width: 50%;
        z-index: 5;
        @media (max-width: 1190px) {
            width: 100%;
        }
        h2{
            font-size: 60px;
            font-weight: 700;
            line-height: 130%;
            @media (max-width: 400px) {
                font-size: 40px;
            }
        }
        p{
            font-size: 30px;
            line-height: 130%;
            margin: 20px 0 40px;
            span{
                color: #3C6C7F;
                font-weight: 600;
            }
            @media (max-width: 400px) {
                font-size: 20px;
            }
        }
    }
    .proposal__images{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        @media (max-width: 1190px) {
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 1;
            width: 60%;
        }
        @media (max-width: 840px) {
            filter: blur(2px);
            left: 0%;
            width: 80%;
        }
        @media (max-width: 400px) {
            width: 100%;
        }
    }
}
.presents{
    margin: 100px 0;
    .presents__swiper{
        .presents__slide{
            width: 100%;
            img{
                width: 80%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
.footer{
    border-top: 1px solid #6f6d6d;
    padding-top: 30px;
    background-color: #111d30;
    .footer__top{
        display: flex;
        justify-content: center;
        @media (max-width: 840px) {
            margin-bottom: 20px;
        }
        img{
            width: 150px;
            height: 150px;
        }
    }
    .footer__center{
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: #fff;
        width: 100%;
        @media (max-width: 840px) {
            flex-direction: column;
            gap: 20px;
            text-align: center;
        }
        .footer__information__logo{
            width: 90px;
            height: 90px;
            margin-bottom: 10px;
            @media (max-width: 840px) {
                margin: 0 auto 20px;
            }
            img{
                width: 100%;
                height: 100%;

            }
        }
        .footer__information{
            width: 200px;
            @media (max-width: 420px) {
                width: 100%;
                text-align: center;
            }
            h3{
                width: 300px;
                font-size: 20px;
                line-height: 130%;
                @media (max-width: 840px) {
                    text-align: left;
                }
                @media (max-width: 420px) {
                    width: 100%;
                    text-align: center;
                }
            }
            
        }
        .footer__social{
            margin-top: 20px;
            display: flex;
            justify-content: center;
            gap: 10px;
            img{
                cursor: pointer;
                width:40px;
                height: 40px;
                transition: .2s;
                &:hover{
                    transform: translateY(3px);
                }
            }
        }
        .footer__contact{
            width: 200px;
            h4{
                font-size: 30px;
                font-weight: 700;
                margin-bottom: 20px;
            }
            a{
                display: block;
                color: #fff;
                font-size: 20px;
                line-height: 180%;
                transition: .2s;
                &:hover{
                    color: #e4b167; 
                }
            }
        }
    }
    .footer__bottom{
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #D3E2EF;
        height: 50px;
        @media (max-width: 420px) {
            width: 100%;
            display: inline-block;
        }
    }
}