@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Condensed:ital,wght@0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital@0;1&family=Roboto+Condensed:ital,wght@0,700;1,700&display=swap");
html, body {
  background-color: #DCDCDC;
  font-family: "Roboto Condensed", sans-serif;
}

._container {
  width: 1250px;
  margin: 0 auto;
  padding: 0 5px;
}
@media (max-width: 1250px) {
  ._container {
    width: 100%;
  }
}

._title__body {
  padding: 50px 0;
  color: #000;
}
._title__body h4 {
  font-size: 80px;
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 920px) {
  ._title__body h4 {
    font-size: 50px;
  }
}
@media (max-width: 500px) {
  ._title__body h4 {
    font-size: 30px;
  }
}
._title__body p {
  font-size: 30px;
  width: 480px;
  margin: 0 0 0 auto;
  font-weight: 400;
}
._title__body p span {
  opacity: 0;
}
@media (max-width: 920px) {
  ._title__body p {
    font-size: 25px;
  }
}
@media (max-width: 500px) {
  ._title__body p {
    font-size: 20px;
    width: 98%;
    text-align: right;
    margin-right: 10px;
  }
  ._title__body p span {
    display: none;
  }
}

.button__body {
  border: 1px solid #fff;
  background-color: #3C6C7F;
  padding: 15px 20px;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  pointer-events: all;
  cursor: pointer;
}
.button__body:hover {
  box-shadow: 5px 5px #6f6d6d;
  border: 1px solid rgba(40, 34, 31, 0);
}
@media (max-width: 585px) {
  .button__body {
    width: 90%;
    text-align: center;
  }
}

.button__pozvoni {
  border: 1px solid #28221F;
  padding: 15px 20px;
  font-size: 20px;
  color: #28221F;
  border-radius: 30px;
  margin-left: 40px;
  transition: 0.3s ease-in-out;
}
.button__pozvoni:hover {
  box-shadow: 5px 5px #6f6d6d;
  border: 1px solid rgba(40, 34, 31, 0);
}
@media (max-width: 585px) {
  .button__pozvoni {
    display: block;
    margin: 20px 0 0 0;
    background-color: rgba(40, 34, 31, 0.5);
    color: #D3E2EF;
    text-align: center;
  }
}

.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.popup .popup__container {
  width: 500px;
  border-radius: 30px;
  font-weight: normal;
  background-color: #fff;
  padding: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 510px) {
  .popup .popup__container {
    width: 100%;
    padding: 30px;
  }
}
.popup .popup__container h2 {
  font-size: 50px;
  color: #3C6C7F;
}
.popup .popup__container form {
  margin-top: 30px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.popup .popup__container form :not(:last-child) {
  margin-bottom: 10px;
}
.popup .popup__container form h5 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  color: #3C6C7F;
}
.popup .popup__container form input {
  border: 1px solid #3C6C7F;
  height: 50px;
  font-size: 18px;
  width: 100%;
  border-radius: 15px;
  padding: 5px 20px;
}
.popup .popup__container form textarea {
  border: 1px solid #3C6C7F;
  outline: none;
  padding: 15px;
  border-radius: 15px;
  width: 100%;
  resize: none;
}
.popup .popup__container form .form__button {
  background-color: #3C6C7F;
  color: #fff;
  font-size: 20px;
  transition: 0.2s;
}
.popup .popup__container form .form__button:hover {
  background-color: #315868;
}
.popup .popup__container .closePopup {
  position: absolute;
  right: 15px;
  top: 15px;
}
.popup .popup__container .closePopup img {
  width: 35px;
  height: 35px;
}

.popup__sale {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
}
.popup__sale .popup__sale__container {
  width: 700px;
  height: 500px;
  border-radius: 30px;
  font-weight: normal;
  background-color: #fff;
  padding: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 5px 5px #6f6d6d;
}
@media (max-width: 710px) {
  .popup__sale .popup__sale__container {
    width: 95%;
    padding: 30px;
  }
}
@media (max-width: 550px) {
  .popup__sale .popup__sale__container {
    height: 100%;
  }
}
.popup__sale .popup__sale__container .popup__sale__img {
  width: 70%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
@media (max-width: 550px) {
  .popup__sale .popup__sale__container .popup__sale__img {
    width: 90%;
  }
}
.popup__sale .popup__sale__container h2 {
  font-size: 50px;
  text-transform: uppercase;
  color: #3C6C7F;
}
@media (max-width: 550px) {
  .popup__sale .popup__sale__container h2 {
    font-size: 40px;
  }
}
.popup__sale .popup__sale__container p {
  margin: 20px 0;
  font-size: 18px;
}
.popup__sale .popup__sale__container form {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.popup__sale .popup__sale__container form :not(:last-child) {
  margin-bottom: 10px;
}
.popup__sale .popup__sale__container form h5 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #3C6C7F;
}
.popup__sale .popup__sale__container form input {
  height: 50px;
  font-size: 18px;
  width: 80%;
  border-radius: 15px;
  padding: 5px 20px;
  background-color: rgba(217, 217, 217, 0.4);
  border: 1px solid #3C6C7F;
}
.popup__sale .popup__sale__container form .form__button {
  background-color: #3C6C7F;
  color: #fff;
  font-size: 20px;
  transition: 0.2s;
}
.popup__sale .popup__sale__container form .form__button:hover {
  background-color: #315868;
}
.popup__sale .popup__sale__container .closePopup {
  position: absolute;
  right: 15px;
  top: 15px;
}
.popup__sale .popup__sale__container .closePopup img {
  width: 35px;
  height: 35px;
}

.menu {
  display: none;
}

.menu.open {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  z-index: 100;
  padding: 20px 40px;
}
.header .header__logo {
  width: 100px;
  height: 100px;
}
.header .header__logo img {
  width: 100%;
  height: 100%;
}
.header .burger-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  transition: 0.3s ease-in-out;
}
.header .burger-btn:hover {
  scale: 1.1;
}
.header .burger-line {
  display: block;
  width: 50px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  transition: transform 0.3s ease;
}
.header .menu {
  position: absolute;
  right: 0;
  top: 0;
  width: 200px;
  height: 100vh;
  background-color: #002A32;
}
.header .menu .menu-logo {
  text-transform: uppercase;
  margin-top: 20px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  display: block;
}
.header .menu .menu-logo span {
  display: block;
  font-size: 16px;
}
.header .menu nav ul {
  width: 60px;
  height: 80vh;
  display: flex;
  gap: 40px;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.header .menu nav ul li a {
  color: #fff;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .menu nav ul li a img {
  margin-bottom: 10px;
}
.header .buttonTkani {
  position: absolute;
  right: 0;
  top: 60vh;
  width: 40px;
  height: 250px;
  background-color: #fff;
  writing-mode: vertical-rl;
  color: #3C6C7F;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  rotate: 180deg;
  padding: 15px;
  border-radius: 10px;
  animation: buttonTkani 12s 5s infinite alternate;
  cursor: pointer;
}
@keyframes buttonTkani {
  30% {
    background-color: #3C6C7F;
    color: #fff;
  }
  40% {
    background-color: #fff;
    color: #3C6C7F;
  }
}
.header .socialIcon {
  position: absolute;
  left: 20px;
  top: 85vh;
}
.header .socialIcon img {
  width: 60px;
  height: 60px;
  cursor: pointer;
}
@keyframes headersocialIcon {
  100% {
    scale: 1.1;
    rotate: 20deg;
    transform: translate(-10px, 6px);
  }
}
.header .socialIcon .socialIcon__item1 {
  animation: headersocialIcon 2s infinite alternate;
  margin-right: 20px;
}
.header .socialIcon .socialIcon__item2 {
  animation: headersocialIcon 3s infinite alternate;
}

.pictures {
  z-index: 1;
}
.pictures .pictures__slide .pictures__slide__item {
  position: relative;
  width: 100%;
  height: 100vh;
}
.pictures .pictures__slide .pictures__slide__item img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(60%);
}
.pictures .pictures__slide .pictures__slide__item .pictures__slide__item__title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  width: 680px;
}
@media (max-width: 495px) {
  .pictures .pictures__slide .pictures__slide__item .pictures__slide__item__title {
    width: 98%;
  }
}
.pictures .pictures__slide .pictures__slide__item .pictures__slide__item__title h3 {
  font-size: 60px;
  font-weight: 700;
  line-height: 100%;
}
@media (max-width: 920px) {
  .pictures .pictures__slide .pictures__slide__item .pictures__slide__item__title h3 {
    font-size: 50px;
  }
}
@media (max-width: 520px) {
  .pictures .pictures__slide .pictures__slide__item .pictures__slide__item__title h3 {
    font-size: 30px;
  }
}
.pictures .pictures__slide .pictures__slide__item .pictures__slide__item__title p {
  line-height: 140%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 0 5px;
  font-size: 30px;
}
@media (max-width: 920px) {
  .pictures .pictures__slide .pictures__slide__item .pictures__slide__item__title p {
    font-size: 25px;
  }
}
@media (max-width: 520px) {
  .pictures .pictures__slide .pictures__slide__item .pictures__slide__item__title p {
    font-size: 20px;
  }
}
.pictures .pictures__slide .pictures__slide__item .pictures__slide__item__title .pictures__slide__item__title__kontact {
  margin-top: 40px;
}
.pictures .pictures__slide .pictures__slide__item .pictures__slide__item__title .pictures__slide__item__title__kontact .pictures__slide__item__title__kontact__button {
  color: #fff;
  border: 1px solid #dfdddd;
}
.pictures .pictures__slide .pictures__slide__item .pictures__slide__item__title .pictures__slide__item__title__kontact .pictures__slide__item__title__kontact__button:hover {
  box-shadow: 5px 5px #6f6d6d;
  border: 1px solid rgba(40, 34, 31, 0);
  background-color: #D9D9D9;
  color: #28221F;
}

.quality {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
@media (max-width: 768px) {
  .quality {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.quality .quality__item {
  width: 250px;
  height: 220px;
  border: 1px solid #131212;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  transition: 0.2s ease-in-out;
}
.quality .quality__item:hover {
  box-shadow: 0px 5px 10px #8b8888;
  scale: 1.02;
}
@media (max-width: 1050px) {
  .quality .quality__item {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .quality .quality__item {
    width: 250px;
  }
}
.quality .quality__item .quality__item__img {
  margin-bottom: 40px;
}
.quality .quality__item .quality__item__img img {
  width: 70px;
  height: 70px;
}
.quality .quality__item h3 {
  font-size: 30px;
}
@media (max-width: 1050px) {
  .quality .quality__item h3 {
    font-size: 23px;
  }
}

.skills {
  margin-top: 100px;
}
.skills .skills__gallery {
  position: relative;
  width: 100%;
  height: 860px;
}
@media (max-width: 900px) {
  .skills .skills__gallery {
    height: 500px;
  }
}
.skills .skills__gallery img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(50%);
}
.skills .skills__gallery .skills__gallery__container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  height: 90%;
}
@media (max-width: 900px) {
  .skills .skills__gallery .skills__gallery__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    height: 100%;
  }
}
.skills .skills__gallery .skills__gallery__container :hover {
  scale: 0.9;
}
.skills .skills__gallery .skills__gallery__container #item-0 {
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: rgba(220, 220, 220, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 3;
}
@media (max-width: 1250px) {
  .skills .skills__gallery .skills__gallery__container #item-0 {
    font-size: 40px;
  }
}
@media (max-width: 666px) {
  .skills .skills__gallery .skills__gallery__container #item-0 {
    font-size: 30px;
  }
}
@media (max-width: 460px) {
  .skills .skills__gallery .skills__gallery__container #item-0 {
    font-size: 25px;
  }
}
.skills .skills__gallery .skills__gallery__container #item-1 {
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #DCDCDC;
  color: #DCDCDC;
  transition: 0.3s ease-in-out;
  grid-row-start: 1;
  grid-column-start: 4;
  grid-row-end: 2;
  grid-column-end: 5;
}
@media (max-width: 1250px) {
  .skills .skills__gallery .skills__gallery__container #item-1 {
    font-size: 40px;
  }
}
@media (max-width: 666px) {
  .skills .skills__gallery .skills__gallery__container #item-1 {
    font-size: 30px;
  }
}
@media (max-width: 460px) {
  .skills .skills__gallery .skills__gallery__container #item-1 {
    font-size: 25px;
  }
}
.skills .skills__gallery .skills__gallery__container #item-2 {
  grid-row-start: 1;
  grid-column-start: 3;
  grid-row-end: 2;
  grid-column-end: 4;
}
@media (max-width: 900px) {
  .skills .skills__gallery .skills__gallery__container #item-2 {
    display: none;
  }
}
.skills .skills__gallery .skills__gallery__container #item-3 {
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: rgba(220, 220, 220, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
}
@media (max-width: 1250px) {
  .skills .skills__gallery .skills__gallery__container #item-3 {
    font-size: 40px;
  }
}
@media (max-width: 666px) {
  .skills .skills__gallery .skills__gallery__container #item-3 {
    font-size: 30px;
  }
}
@media (max-width: 460px) {
  .skills .skills__gallery .skills__gallery__container #item-3 {
    font-size: 25px;
  }
}
.skills .skills__gallery .skills__gallery__container #item-4 {
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #DCDCDC;
  color: #DCDCDC;
  transition: 0.3s ease-in-out;
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 3;
}
@media (max-width: 1250px) {
  .skills .skills__gallery .skills__gallery__container #item-4 {
    font-size: 40px;
  }
}
@media (max-width: 666px) {
  .skills .skills__gallery .skills__gallery__container #item-4 {
    font-size: 30px;
  }
}
@media (max-width: 460px) {
  .skills .skills__gallery .skills__gallery__container #item-4 {
    font-size: 25px;
  }
}
.skills .skills__gallery .skills__gallery__container #item-5 {
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: rgba(220, 220, 220, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
  grid-row-start: 2;
  grid-column-start: 3;
  grid-row-end: 3;
  grid-column-end: 5;
}
@media (max-width: 1250px) {
  .skills .skills__gallery .skills__gallery__container #item-5 {
    font-size: 35px;
  }
}
@media (max-width: 666px) {
  .skills .skills__gallery .skills__gallery__container #item-5 {
    font-size: 25px;
  }
}
@media (max-width: 460px) {
  .skills .skills__gallery .skills__gallery__container #item-5 {
    font-size: 20px;
  }
}
.skills .skills__gallery .skills__gallery__container #item-6 {
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #DCDCDC;
  color: #DCDCDC;
  transition: 0.3s ease-in-out;
  grid-row-start: 3;
  grid-column-start: 1;
  grid-row-end: 4;
  grid-column-end: 4;
}
@media (max-width: 1250px) {
  .skills .skills__gallery .skills__gallery__container #item-6 {
    font-size: 35px;
  }
}
@media (max-width: 666px) {
  .skills .skills__gallery .skills__gallery__container #item-6 {
    font-size: 25px;
  }
}
@media (max-width: 460px) {
  .skills .skills__gallery .skills__gallery__container #item-6 {
    font-size: 18px;
  }
}
.skills .skills__gallery .skills__gallery__container #item-7 {
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: rgba(220, 220, 220, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
  grid-row-start: 3;
  grid-column-start: 4;
  grid-row-end: 4;
  grid-column-end: 5;
}
@media (max-width: 1250px) {
  .skills .skills__gallery .skills__gallery__container #item-7 {
    font-size: 35px;
  }
}
@media (max-width: 460px) {
  .skills .skills__gallery .skills__gallery__container #item-7 {
    font-size: 25px;
  }
}
.skills .skills__gallery .skills__gallery__container #item-8 {
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
  border: 1px solid #DCDCDC;
  color: #DCDCDC;
  grid-row-start: 4;
  grid-column-start: 3;
  grid-row-end: 5;
  grid-column-end: 5;
}
@media (max-width: 1250px) {
  .skills .skills__gallery .skills__gallery__container #item-8 {
    font-size: 35px;
  }
}
@media (max-width: 460px) {
  .skills .skills__gallery .skills__gallery__container #item-8 {
    font-size: 25px;
  }
}
.skills .skills__gallery .skills__gallery__container #item-9 {
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: rgba(220, 220, 220, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
  grid-row-start: 4;
  grid-column-start: 1;
  grid-row-end: 5;
  grid-column-end: 2;
}
@media (max-width: 1250px) {
  .skills .skills__gallery .skills__gallery__container #item-9 {
    font-size: 35px;
  }
}
@media (max-width: 460px) {
  .skills .skills__gallery .skills__gallery__container #item-9 {
    font-size: 25px;
  }
}

.portfolio {
  padding: 0 5px;
}
@media (max-width: 940px) {
  .portfolio #revers {
    flex-direction: column-reverse;
  }
}
.portfolio .portfolio__container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1040px) {
  .portfolio .portfolio__container {
    flex-direction: column;
  }
}
.portfolio .portfolio__container:not(:last-child) {
  margin-bottom: 50px;
}
.portfolio .portfolio__container .portfolio__container__title {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 20px;
}
@media (max-width: 1040px) {
  .portfolio .portfolio__container .portfolio__container__title {
    width: 100%;
    margin: 0;
  }
}
@media (max-width: 510px) {
  .portfolio .portfolio__container .portfolio__container__title {
    width: 100%;
  }
}
.portfolio .portfolio__container .portfolio__container__title h3 {
  font-size: 80px;
  font-weight: 700;
  width: 300px;
  text-transform: uppercase;
}
@media (max-width: 1040px) {
  .portfolio .portfolio__container .portfolio__container__title h3 {
    text-align: right;
    width: 100%;
    font-size: 50px;
  }
}
@media (max-width: 500px) {
  .portfolio .portfolio__container .portfolio__container__title h3 {
    font-size: 30px;
  }
}
.portfolio .portfolio__container .portfolio__container__title p {
  flex: 1;
  width: 50%;
  font-size: 25px;
  line-height: 110%;
  border-top: 1px solid #131212;
  padding-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 1120px) {
  .portfolio .portfolio__container .portfolio__container__title p {
    width: 80%;
  }
}
.portfolio .portfolio__container .portfolio__container__images {
  position: relative;
  display: flex;
  gap: 15px;
}
@media (max-width: 1040px) {
  .portfolio .portfolio__container .portfolio__container__images {
    justify-content: center;
  }
}
.portfolio .portfolio__container .portfolio__container__images__left h4 {
  font-size: 30px;
  text-transform: uppercase;
}
@media (max-width: 1260px) {
  .portfolio .portfolio__container .portfolio__container__images__left h4 {
    font-size: 25px;
  }
}
@media (max-width: 1040px) {
  .portfolio .portfolio__container .portfolio__container__images__left h4 {
    font-size: 18px;
  }
}
@media (max-width: 730px) {
  .portfolio .portfolio__container .portfolio__container__images__left {
    display: none;
  }
}
.portfolio .portfolio__container .portfolio__container__images__visible {
  width: 300px;
}
.portfolio .portfolio__container .portfolio__container__images__visible video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 415px) {
  .portfolio .portfolio__container .portfolio__container__images__visible {
    width: 100%;
  }
}
.portfolio .portfolio__container .portfolio__container__images__invisible {
  width: 400px;
}
.portfolio .portfolio__container .portfolio__container__images__invisible video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 415px) {
  .portfolio .portfolio__container .portfolio__container__images__invisible {
    width: 100%;
  }
}
.portfolio .portfolio__swiper {
  position: relative;
  padding: 50px 0;
}
.portfolio .portfolio__swiper .swiper-button-next::after, .portfolio .portfolio__swiper .swiper-button-prev::after {
  color: #28221F;
  font-size: 80px;
  padding: 0 50px;
}
.portfolio .portfolio__swiper .swiper-pagination {
  bottom: 0;
}
.portfolio .portfolio__swiper .swiper-pagination-bullet {
  width: 18px;
  height: 18px;
}
.portfolio .portfolio__swiper .swiper-pagination-bullet-active {
  background-color: #fff;
  border: 1px solid #282828;
}
.portfolio .portfolio__swiper .portfolio__slide {
  width: 100%;
  height: 400px;
}
.portfolio .portfolio__swiper .portfolio__slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}

.price p {
  margin-top: 30px;
}
.price .price__container {
  width: 900px;
  box-shadow: 5px 5px 5px 5px #6f6d6d;
  padding: 35px;
  border-radius: 30px;
  font-size: 22px;
  margin: 0 auto;
}
@media (max-width: 910px) {
  .price .price__container {
    width: 100%;
  }
}
.price .price__container .price__subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price .price__container h5 {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  margin: 20px 0;
}
.price .price__container .price__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-weight: 400;
  row-gap: 15px;
}
.price .price__container .price__content h6 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.231372549);
}
.price .price__container .price__content strong {
  text-align: right;
  border-bottom: 1px solid rgba(0, 0, 0, 0.231372549);
}
.price .price__button {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.calculation .calculation__button {
  margin-top: 40px;
}
.calculation .calculation__container .calculation__item_2 {
  margin: 0 auto;
}
.calculation .calculation__container .calculation__item_3 {
  margin: 0 0 0 auto;
}
.calculation .calculation__container :not(:last-child) {
  margin-bottom: 20px;
}
.calculation .calculation__container .calculation__item {
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 5px 5px 5px 5px #6f6d6d;
  border-radius: 20px;
  padding: 15px;
  position: relative;
}
@media (max-width: 460px) {
  .calculation .calculation__container .calculation__item {
    width: 100%;
  }
}
.calculation .calculation__container .calculation__item .calculation__item__title {
  width: 200px;
}
.calculation .calculation__container .calculation__item .calculation__item__title .calculation__item__title_number {
  border-radius: 10px;
  padding: 10px;
  font-size: 30px;
  width: 100px;
  margin-bottom: 30px;
  border: 1px solid #131212;
}
.calculation .calculation__container .calculation__item .calculation__item__title p {
  font-size: 22px;
}
.calculation .calculation__container .calculation__item .calculation__item__images {
  width: 150px;
  height: 100%;
}
.calculation .calculation__container .calculation__item .calculation__item__images img {
  width: 100%;
  height: 100%;
}

.partners .partners__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 400px;
}
@media (max-width: 1020px) {
  .partners .partners__container {
    flex-direction: column;
    height: 100%;
  }
}
.partners .partners__container .partners__text {
  margin-left: 10px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 410px) {
  .partners .partners__container .partners__text {
    width: 100%;
  }
}
.partners .partners__container .partners__text h6 {
  font-size: 40px;
  flex: 1;
}
.partners .partners__container .partners__images {
  position: relative;
  width: 600px;
  height: 400px;
  margin-right: 10px;
}
@media (max-width: 1020px) {
  .partners .partners__container .partners__images {
    margin: 20px auto 0;
  }
}
@media (max-width: 615px) {
  .partners .partners__container .partners__images {
    width: 100%;
  }
}
.partners .partners__container .partners__images img {
  display: block;
  width: 300px;
}
.partners .partners__container .partners__images p {
  display: block;
}
.partners .partners__container .partners__images .partners__images__item_1 {
  position: absolute;
  left: 12px;
  top: 0;
  animation: partners__images 5s ease-in-out infinite alternate;
}
@keyframes partners__images {
  25% {
    transform: translate(10px, 10px);
  }
  50% {
    transform: translate(-10px, 10px);
  }
  75% {
    transform: translate(-5px, -10px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.partners .partners__container .partners__images .partners__images__item_2 {
  position: absolute;
  right: 0;
  top: 15%;
  animation: partners__images 8s ease-in-out infinite alternate;
}
.partners .partners__container .partners__images .partners__images__item_3 {
  position: absolute;
  left: 0;
  top: 35%;
  animation: partners__images 7s ease-in-out infinite alternate;
}
.partners .partners__container .partners__images .partners__images__item_4 {
  position: absolute;
  width: 200px;
  height: 150px;
  right: 0;
  top: 55%;
  animation: partners__images 6s ease-in-out infinite alternate;
}
.partners .partners__container .partners__images .partners__images__item_5 {
  position: absolute;
  width: 150px;
  height: 80px;
  left: 15%;
  bottom: 10%;
  animation: partners__images 4s ease-in-out infinite alternate;
}

.comments {
  margin-top: 100px;
  height: 100%;
}
.comments .comments__container {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 60px 0;
}
@media (max-width: 1100px) {
  .comments .comments__container {
    padding: 20px;
  }
}
.comments .comments__container .comments__container_bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(60%);
}
.comments .comments__container .commentsSwiper .commentsSwiper__slide {
  will-change: transform;
}
.comments .comments__container .commentsSwiper .commentsSwiper__slide :not(:last-child) {
  margin-bottom: 30px;
}
.comments .comments__container .commentsSwiper .commentsSwiper__slide img {
  width: 60%;
}
@media (max-width: 700px) {
  .comments .comments__container .commentsSwiper .commentsSwiper__slide img {
    width: 70%;
  }
}
@media (max-width: 580px) {
  .comments .comments__container .commentsSwiper .commentsSwiper__slide img {
    width: 80%;
  }
}
@media (max-width: 510px) {
  .comments .comments__container .commentsSwiper .commentsSwiper__slide img {
    width: 100%;
  }
}
.comments .comments__container .commentsSwiper .commentsSwiper__slide .commentsSwiper__slide__item_2 {
  margin-left: 150px;
}
@media (max-width: 700px) {
  .comments .comments__container .commentsSwiper .commentsSwiper__slide .commentsSwiper__slide__item_2 {
    margin-left: 50px;
  }
}
@media (max-width: 510px) {
  .comments .comments__container .commentsSwiper .commentsSwiper__slide .commentsSwiper__slide__item_2 {
    margin-left: 0;
  }
}

.property {
  margin-top: 100px;
}
.property .property__container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
  height: 100%;
  width: 100%;
  position: relative;
  justify-content: center;
}
@media (max-width: 1115px) {
  .property .property__container {
    gap: 15px;
  }
}
@media (max-width: 870px) {
  .property .property__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.property .property__container :not(:last-child) {
  margin-bottom: 10px;
}
.property .property__container #item-0 {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 2;
  position: absolute;
  bottom: -100px;
}
@media (max-width: 870px) {
  .property .property__container #item-0 {
    position: static;
  }
}
.property .property__container #item-1 {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 3;
  position: absolute;
  bottom: -50px;
}
@media (max-width: 870px) {
  .property .property__container #item-1 {
    position: static;
  }
}
.property .property__container #item-2 {
  grid-row-start: 1;
  grid-column-start: 3;
  grid-row-end: 2;
  grid-column-end: 4;
}
.property .property__container #item-3 {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 3;
  position: absolute;
  bottom: -50px;
}
@media (max-width: 870px) {
  .property .property__container #item-3 {
    position: static;
  }
}
.property .property__container #item-4 {
  grid-row-start: 2;
  grid-column-start: 3;
  grid-row-end: 3;
  grid-column-end: 4;
}
.property .property__container .property__container__item {
  width: 100%;
  background-color: #28221F;
  border-radius: 30px;
  color: #F5F5F5;
  padding: 25px;
  box-shadow: 0px 0px 6px #000;
}
@media (max-width: 870px) {
  .property .property__container .property__container__item {
    width: 390px;
  }
}
@media (max-width: 400px) {
  .property .property__container .property__container__item {
    width: 100%;
  }
}
.property .property__container .property__container__item .property__container__item__img {
  position: relative;
}
.property .property__container .property__container__item .property__container__item__img img {
  width: 60px;
  height: 60px;
}
.property .property__container .property__container__item .property__container__item__img::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 25px;
  height: 25px;
  background-color: #D9D9D9;
  border-radius: 50%;
  box-shadow: 0px 0px 3px #000 inset;
}
.property .property__container .property__container__item h3 {
  font-size: 30px;
}
@media (max-width: 1115px) {
  .property .property__container .property__container__item h3 {
    font-size: 25px;
  }
}
.property .property__container .property__container__item p {
  font-size: 20px;
}
@media (max-width: 1115px) {
  .property .property__container .property__container__item p {
    font-size: 18px;
  }
}

.proposal {
  position: relative;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  border: 2px solid #28221F;
  border-radius: 30px;
  padding: 30px 50px;
  width: 98%;
  min-height: 500px;
}
@media (max-width: 650px) {
  .proposal {
    padding: 20px;
  }
}
.proposal .proposal__container {
  width: 50%;
  z-index: 5;
}
@media (max-width: 1190px) {
  .proposal .proposal__container {
    width: 100%;
  }
}
.proposal .proposal__container h2 {
  font-size: 60px;
  font-weight: 700;
  line-height: 130%;
}
@media (max-width: 400px) {
  .proposal .proposal__container h2 {
    font-size: 40px;
  }
}
.proposal .proposal__container p {
  font-size: 30px;
  line-height: 130%;
  margin: 20px 0 40px;
}
.proposal .proposal__container p span {
  color: #3C6C7F;
  font-weight: 600;
}
@media (max-width: 400px) {
  .proposal .proposal__container p {
    font-size: 20px;
  }
}
.proposal .proposal__images {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
@media (max-width: 1190px) {
  .proposal .proposal__images {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 60%;
  }
}
@media (max-width: 840px) {
  .proposal .proposal__images {
    filter: blur(2px);
    left: 0%;
    width: 80%;
  }
}
@media (max-width: 400px) {
  .proposal .proposal__images {
    width: 100%;
  }
}

.presents {
  margin: 100px 0;
}
.presents .presents__swiper .presents__slide {
  width: 100%;
}
.presents .presents__swiper .presents__slide img {
  width: 80%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  border-top: 1px solid #6f6d6d;
  padding-top: 30px;
  background-color: #111d30;
}
.footer .footer__top {
  display: flex;
  justify-content: center;
}
.footer .footer__top img {
  width: 150px;
  height: 150px;
}
.footer .footer__center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
@media (max-width: 840px) {
  .footer .footer__center {
    flex-direction: column;
  }
  .footer .footer__center :not(:last-child) {
    margin-bottom: 30px;
  }
}
.footer .footer__center .footer__information__logo {
  width: 90px;
  height: 90px;
  margin-bottom: 10px;
}
.footer .footer__center .footer__information__logo img {
  width: 100%;
  height: 100%;
}
.footer .footer__center .footer__information {
  width: 200px;
}
.footer .footer__center .footer__information h3 {
  width: 300px;
  font-size: 20px;
  line-height: 130%;
}
@media (max-width: 400px) {
  .footer .footer__center .footer__information h3 {
    width: 100%;
  }
}
.footer .footer__center .footer__social {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.footer .footer__center .footer__social img {
  cursor: pointer;
  width: 40px;
  height: 40px;
  transition: 0.2s;
}
.footer .footer__center .footer__social img:hover {
  transform: translateY(3px);
}
.footer .footer__center .footer__contact {
  width: 200px;
}
.footer .footer__center .footer__contact h4 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}
.footer .footer__center .footer__contact a {
  display: block;
  color: #fff;
  font-size: 20px;
  line-height: 180%;
  transition: 0.2s;
}
.footer .footer__center .footer__contact a:hover {
  color: #e4b167;
}
.footer .footer__bottom {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D3E2EF;
  height: 50px;
}/*# sourceMappingURL=style.css.map */